$icon-font-path: "../bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

@font-face {
    font-family: 'icons';
    /*
     * IE9 Compat Modes
     * IE6-IE8
     * Modern Browsers
     * Safari, Android, iOS
     * Legacy iOS
     */
    src: url('../fonts/icons.eot');
    src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons.woff') format('woff'),
         url('../fonts/icons.ttf') format('truetype'),
         url('../fonts/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

#logo {
    background-image: url(../images/isologo.png);
    background-repeat: no-repeat;
    height: 50px;
    width: 100%;
    background-position-y: 17px;
    background-size: 100%;
    margin-left: 0;
    background-position-x: 50%;
}

.form-group-8-40 .form-group {
    > label {
        @extend .col-xs-8;
    }
    > div {
        @extend .col-xs-40;     
    }
}
.form-group-10-38 .form-group {
    > label {
        @extend .col-xs-10;
    }
    > div {
        @extend .col-xs-38;     
    }
}
.form-group-12-36 .form-group {
    > label {
        @extend .col-xs-12;
    }
    > div {
        @extend .col-xs-36;     
    }
}
.form-group-24-24 .form-group {
    > label {
        @extend .col-xs-24;
    }
    > div {
        @extend .col-xs-24;     
    }
}
.form-horizontal {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    p.form-control-static {
        height: 34px;
    }
}

.vertical-align {
    font-size: 0;
    > * {
        font-size: 13px;
        float:none;
        display:inline-block;
        vertical-align: middle;  
    }
    &.vertical-align-bottom {
        > * {
            vertical-align: bottom;;
        }
    }
    &.vertical-align-font-14 {
        > * {
            font-size: 14px;
        }
    }
}
.form-horizontal.label-left {
    label {
        text-align: left;
    }
}

.list {
    nav {
        margin-bottom: 8px;
    }
    .checkbox {
        padding-left: inherit;
        input {
            margin-left: 0;
        }
    }
    .filter {
        height: 34px;
        line-height: 34px;
    }
    .list-header {
        position: relative;
        display: block;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
        line-height: 15px;
        border-bottom: 1px solid #333333;
        .checkbox {
            margin: 0;
        }
    }
    .list-group-item {
        vertical-align: middle;
        font-size: 13px;
        line-height: 13px;
        border-left: none;
        border-right: none;
        border-radius: 0px !important;
        &:first-child {
            border-top: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
    .pagination-container {
        display: block;
        text-align: center;
        cursor: pointer;
    }   
}

