.contact p {
	margin-bottom: 4px;
}
.order-number {
	margin-bottom: 20px;
	img {
		height: 24px;
		vertical-align: bottom;
	}
}

.list.detail {
	.order-detail-product {
		.product-image {
			// max-width: 40px;
			// min-height: 30px;
			// width: 15%;
			// float: left;
			// margin-right: 8px;						
			img {
				width: 100%;
			}
		}
		.product-description {
			float: left;
		}
	}

	.columns {
		.column {
			&.order-detail-quantity {
				width: 15%;
			}
			&.order-detail-price {
				width: 15%;
			}
			&.order-detail-amount {
				width: 15%;
				text-align: center;
			}
			&.order-detail-shipped {
				width: 15%;
				text-align: center;
			}
		}
	}
}
.shipment {
	border: 1px solid #dddddd;
	padding: 10px 20px;
	border-radius: 4px;
	margin: 10px 0;
	background-color: rgb(250, 250, 250);
	.toolbar {
		float: right;
		margin: 6px 0;
		span {
			margin: 4px;
			cursor: pointer;
		}
	}
	.list {
		background-color: white;
		padding: 0 10px;
		.list-group-item{
			padding: 5px 15px;
		}
		.shipment-product {				
			img {
				width: 32px;
				float: left;
			}
			.product-description {
				float: left;
			}				
		}
	}
}