.list {
	.product-detail {
		.product-image {
			max-width: 40px;
			min-height: 30px;
			width: 15%;
			float: left;
			margin-right: 8px;						
			img {
				width: 100%;
			}
		}
	}
}
.pricelists-modal .modal-dialog {
	width: 712px;
}
.stocks-modal .modal-dialog {
	width: 620px;
}