.stocks {
	.col-fixed-128 {
		float: left;
		width: 128px;
	}
	.row.list-header {
		padding: 0;
		div {
			padding: 10px 0;
		}
	}	
	.list-group-item.row {
		padding: 0;
		> * {
			padding: 10px 0;
		}
	}

}
.product-images {
	img {
		width: 90px;
		max-height: 90px;
	}
}
.small-input {
	display: inline-block;
	width: 60px;
	height: 28px;
	margin: 0 6px;
	font-size: 12px;
}
.product-view {
	.list-header .columns{
		padding-right: 15px;
	}
	> div {
		margin-bottom: 20px;
	}
	.product-title {
		.product-description {
			margin-bottom: 5px;
		}
	}
}
.product-edit {
	.product-images {
		.img {
			float: left;
			position: relative;
			margin: 2px;
			border: 1px solid #cccccc;
			border-radius: 5px;
			img {
				padding: 10px;				
			}
			.close {
				position: absolute;
				top: -2px;
				right: 3px;
				z-index: 1;
				font-size: 19px;
			}
			&.empty {
				height: 92px;
				width: 92px;
				line-height: 92px;
				text-align: center;
				font-family: icons;
				font-size: 40px;
				border-style: dashed;
				cursor: pointer;
				span {
					opacity: 0.5;
					&:before{
						color: #DDD;				
						content: '\f030';
					}
				}
			}
		}
	}
}