.list {	
	.columns {
		.order-main {
			p {
				margin-bottom: 5px;
			}
			.order-id {
				margin: 0 0 5px;
			}
			.order-channel {
				width: 20px;
				margin-right: 4px;
			}
		}
		.order-products {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 3px;
			}
		}
		.order-payment {
			text-align: center;
			.order-payment-status {
				overflow: visible;
				margin-bottom: 8px;
			}
		}
		.order-shipment-status {
			text-align: center;
		}
		.order-warehouse {
			text-align: center;
		}
	}
}
.shipment-icon {
	font-family: icons;
	&:before {
		content: '\f0d1';
	}
}
.logistics-modal .modal-dialog {
	width: 695px;
}