			<div class="row">
				<div class="col-xs-48">
					<p>
						<span class="h4">
							Publicación	
						</span>
					</p>
					<p>
						<a href="http://articulo.mercadolibre.com.ar/MLA-487491175-zapatos-para-hombre-r-ejal-varios-modelos-_JM?attribute=83000-92025" target="_balnk">#487491175</a>
						<span class="text-muted"> | </span><span class="label label-success">Activa</span>
						<span class="text-muted"> | </span><span class="text-muted">Finaliza 2013-02-10</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-30">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label">Titulo</label>
							<div class="">
								<input class="form-control" ng-model="listing.title">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Subtitulo</label>
							<div class="">
								<input class="form-control" ng-model="listing.subtitle">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Categoria</label>
							<div class="form-control-static">
								<ul style="list-style: none; padding: 0; margin: 0;">
									<li style="display: inline;" ng-repeat="subcat in listing.category.path_from_root">
										<span>{{subcat.name}}</span><span ng-show="!$last"> > </span>	
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Precio</label>
							<div class="">
								<p class="form-control-static">${{product.price1}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Condición</label>
							<div class="radio">
								<label>
									<input type="radio" name="condition" id="optionsRadios1" value="new" ng-model="listing.condition">
									Nuevo
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="condition" id="optionsRadios2" value="used" ng-model="listing.condition">
									Usado
								</label>
							</div>							
						</div>
						<div class="form-group">
							<label class="control-label">Garantía</label>
							<div class="">
								<textarea class="form-control" ng-model="listing.warranty"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Stocks</label>
							<div class="form-control-static">
								<div class="col-xs-24" style="font-size: 12px">
									<div class="row vertical-align vertical-align-bottom" style="font-weight: bold; margin-bottom: 10px;">
										<span class="col-xs-16">Variante</span><!--
									-->	<span class="col-xs-16 text-center">Stock Publicación</span><!--
									-->	<span class="col-xs-16 text-center">Disponible Parsimotion</span>
									</div>
									<div ng-repeat="color in product.colors" class="">
										<div class="row" ng-repeat="size in product.sizes" style="margin-bottom: 10px;">
											<p>
												<span class="col-xs-16">{{color}} - {{size}}</span>
												<input type="number" class="col-xs-16 text-center" ng-model="getVariantFor(color,size)['4000']">
												<span class="col-xs-16 text-center">{{getVariantFor(color,size)['4000'] || 0}}</span>
											</p>
										</div>
									</div>									
								</div>
							</div>
						</div>						
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-30">
					<a href="#/products/{{product.id}}"><button type="button" class="btn btn-primary">Guardar</button></a>
					<a href="#/products/{{product.id}}"><button type="button" class="btn btn-default">Cancelar</button></a>				
				</div>
			</div>
