			<div class="row">
				<div class="col-xs-48">
					<p>
						<span class="h4">
							Publicación	
						</span>
						<a href="#/products/{{product.id}}?editListing=true">Editar</a>
					</p>
					<p>
						<a href="http://articulo.mercadolibre.com.ar/MLA-487491175-zapatos-para-hombre-r-ejal-varios-modelos-_JM?attribute=83000-92025" target="_balnk">#487491175</a>
						<span class="text-muted"> | </span><span class="label label-success">Activa</span>
						<span class="text-muted"> | </span><span class="text-muted">Finaliza 2013-02-10</span>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-30">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="control-label">Titulo</label>
							<div class="">
								<p class="form-control-static">{{listing.title}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Subtitulo</label>
							<div class="">
								<p class="form-control-static">{{listing.subtitle}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Categoria</label>
							<div class="form-control-static">
								<ul style="list-style: none; padding: 0; margin: 0;">
									<li style="display: inline;" ng-repeat="subcat in listing.category.path_from_root">
										<span>{{subcat.name}}</span><span ng-show="!$last"> > </span>	
									</li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Precio</label>
							<div class="">
								<p class="form-control-static">${{product.price1}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Condición</label>
							<div class="">
								<p class="form-control-static">{{listing.condition==='new' ? 'Nuevo' : 'Usado'}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Garantía</label>
							<div class="">
								<p class="form-control-static">{{listing.warranty}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Stocks</label>
							<div class="form-control-static">
								<div class="col-xs-24" style="font-size: 12px">
									<div class="row vertical-align vertical-align-bottom" style="font-weight: bold; margin-bottom: 10px;">
										<span class="col-xs-16">Variante</span><!--
									-->	<span class="col-xs-16 text-center">Stock Publicación</span><!--
									-->	<span class="col-xs-16 text-center">Disponible Parsimotion</span>
									</div>
									<div ng-repeat="color in product.colors" class="">
										<div class="row" ng-repeat="size in product.sizes" style="margin-bottom: 10px;">
											<p>
												<span class="col-xs-16">{{color}} - {{size}}</span>
												<span class="col-xs-16 text-center">{{getVariantFor(color,size)['4000'] || 0}}</span>
												<span class="col-xs-16 text-center">{{getVariantFor(color,size)['4000'] || 0}}</span>
											</p>
										</div>
									</div>									
								</div>
							</div>
						</div>						
					</form>
				</div>
			</div>					
