			<form class="form-horizontal label-left form-group-24-24" role="form">
				<div class="form-group">
					<label class="control-label">Forma de Entrega</label>
					<div class="">
						<select class="form-control" ng-model="shipment.shippingMethod" ng-options="option as option for option in ['Envio', 'Retira']"></select>
					</div>
				</div>
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio'">
					<label class="control-label">Remito Nº</label>
					<div class="">
						<input type="text" class="form-control" ng-model="shipment.deliverynote">
					</div>
				</div>				
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio'">
					<label class="control-label">Método de Entrega</label>
					<div class="">
						<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, data: ['OCA','Moto'] }" ng-model="shipment.method">
						</input>
					</div>
				</div>				
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio'">
					<label class="control-label">Nº de guía</label>
					<div class="">
						<input type="text" class="form-control" ng-model="shipment.tracking">
					</div>
				</div>				
			</form>
			<div class="list">
				<div class="row list-header">
					<span class="shipment-product col-xs-32">Artículo</span>
					<span class="shipment-quantity col-xs-16 text-center">Cantidad</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item row" ng-repeat="line in shipment.products">
						<div class="shipment-product col-xs-32">
							<img ng-src="{{line.product.imageUrl}}"/>
							<div class="product-description h5">
								<p>{{line.product.description}}</p>
								<p class="small">#{{line.product.id}}</p>
							</div>
						</div>
						<div class="shipment-quantity col-xs-16 text-center">
							<input type="number" class="form-control" ng-model="line.quantity">
						</div>
					</li>
			  	</ul>
			</div>
			<div class="row">
				<div class="col-xs-30">
					<button ng-click="shipment.dirty=false" type="button" class="btn btn-primary">Guardar</button>
					<button ng-click="cancelShipment(shipment)" type="button" class="btn btn-default">Cancelar</button>
				</div>
			</div>
