			<div class="row">
				<div class="toolbar">
					<span ng-click="editShipment(shipment)" class="glyphicon glyphicon-pencil"></span><span ng-click="removeShipment(shipment)" class="glyphicon glyphicon-trash"></span>
				</div>				
			</div>
			<form class="form-horizontal label-left form-group-24-24" role="form">
				<div class="form-group">
					<label class="control-label">Forma de Entrega</label>
					<div>
						<p class="form-control-static">{{shipment.shippingMethod}}</p>	
					</div>
				</div>
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio' &amp;&amp; shipment.deliverynote">
					<label class="control-label">Remito Nº</label>
					<div class="">
						<p class="form-control-static">{{shipment.deliverynote}}</p>	
					</div>
				</div>				
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio' &amp;&amp; shipment.method">
					<label class="control-label">Método de Entrega</label>
					<div class="">
						<p class="form-control-static">{{shipment.method}}</p>	
					</div>
				</div>				
				<div class="form-group" ng-show="shipment.shippingMethod=='Envio' &amp;&amp; shipment.tracking">
					<label class="control-label">Nº de guía</label>
					<div class="">
						<p class="form-control-static">{{shipment.tracking}}</p>	
					</div>
				</div>				
			</form>
			<div class="list">
				<div class="row list-header">
					<span class="shipment-product col-xs-24">Artículo</span>
					<span class="shipment-quantity col-xs-24 text-center">Cantidad</span>
				</div>
				<ul class="list-group">
					<li class="list-group-item row" ng-repeat="line in shipment.products">
						<div class="shipment-product col-xs-24">
							<img ng-src="{{line.product.imageUrl}}"/>
							<div class="product-description h5">
								<p>{{line.product.description}}</p>
								<p class="small">#{{line.product.id}}</p>
							</div>
						</div>
						<div class="shipment-quantity col-xs-24 text-center">
							{{line.quantity}}
						</div>
					</li>
			  	</ul>
			</div>