	<div class="row list-header vertical-align vertical-align-bottom">
		<div class="checkbox col-xs-2">
			<input type="checkbox" ng-model="selectAll" ng-click="toggleSelectAll()">
		</div><!--
	--><div class="columns col-xs-46">
			<div class="row vertical-align vertical-align-bottom vertical-align-font-14">
				<span class="order-main col-xs-14">Pedido</span><!--
			--><span class="order-products col-xs-10">Artículos</span><!--
			--><span class="order-shipment-status col-xs-16"></span><!--
			--><span class="order-warehouse col-xs-8">Depósito</span>           
			</div>
		</div>
	</div>
	<ul class="list-group">
			<li class="list-group-item row vertical-align" ng-repeat="order in orders">
				<div class="checkbox col-xs-2">
					<input type="checkbox" ng-model="order.selected">
				</div><!--
			--><div class="columns col-xs-46">
					<div class="row vertical-align">
						<div class="order-main col-xs-14">
							<p><a href="#/sales/{{order.id}}"><span class="h4 order-id">Nº {{order.id}}</span></a>
								<span class="order-date small">{{order.date | date:'yyyy-MM-dd'}}</span>
							</p>
							<p class="order-contact-name"><img class="order-channel" ng-src="{{order.channel.imageUrl}}" /><a class="small text-muted" href="#/contacts/{{order.contact.id}}">{{order.contact.name}} | {{order.contact.contactPerson}}</a></p>
							<p class="small text-muted">{{order.contact.email}}</p>
							<p class="small text-muted">{{order.contact.phone}}</p>
							<p class="small text-muted">{{order.contact.city}}, {{order.contact.state}}</p>
						</div><!--
					--><ul class="order-products col-xs-10">
							<li ng-repeat="line in order.lines">
								<span>{{line.product.description}} {{line.variant.color}} {{line.variant.size}}</span>
								<span class="small" style="color: #999999;;">#{{line.variant_id}}</span>
							</li>
						</ul><!--
					--><div class="order-payment col-xs-16">
							<form class="form-horizontal form-group-24-24" role="form">
								<div class="form-group label-left">
									<label>Forma de Entrega</label>
									<div>
										<select style="width: 100%;" ng-model="order.shippingMethod" ng-options="option as option for option in ['A Confirmar', 'Envio', 'Retira']">
										</select>
									</div>
								</div>
								<div class="form-group">
									<label>Forma de Pago</label>
									<div>
										<select style="width:100%;" ng-model="order.paymentMethod" ng-options="option as option for option in ['A Confirmar', 'MercadoPago', 'Transferencia', 'Contra Entrega']">
										</select>
									</div>
								</div>
							</form>
							<div class="row" ng-show="order.editing">
								<button type="button" class="btn btn-primary btn-xs" ng-click="save(order)">Guardar</button>
								<button type="button" class="btn btn-default btn-xs" ng-click="cancel(order)">Cancelar</button>
							</div>													
						</div><!--
					--><span class="column order-warehouse col-xs-8">{{order.warehouse.name}}</span>              
					</div>
				</div>
			</li>        
		</ul>