	<div class="row list-header vertical-align vertical-align-bottom">
		<div class="checkbox col-xs-2">
			<input type="checkbox" ng-click="toggleSelectAll()">
		</div><!--
	--><div class="columns col-xs-46">
			<div class="row vertical-align vertical-align-bottom vertical-align-font-14">
				<span class="order-main col-xs-14">Pedido</span><!--
			--><span class="order-products col-xs-14">Artículos</span><!--
			--><span class="order-payment col-xs-10">Pago</span><!--
			--><span class="order-warehouse col-xs-10">Depósito</span>           
			</div>
		</div>
	</div>
	<ul class="list-group">
			<li class="list-group-item row vertical-align" ng-repeat="order in orders">
				<div class="checkbox col-xs-2">
					<input type="checkbox" ng-model="order.selected">
				</div><!--
			--><div class="columns col-xs-46">
					<div class="row vertical-align">
						<div class="order-main col-xs-14">
							<p><a href="#/sales/{{order.id}}"><span class="h4 order-id">Nº {{order.id}}</span></a>
								<span class="order-date small">{{order.date | date:'yyyy-MM-dd'}}</span>
							</p>
							<p class="order-contact-name"><img class="order-channel" ng-src="{{order.channel.imageUrl}}" /><a class="small text-muted" href="#/contacts/{{order.contact.id}}">{{order.contact.name}} | {{order.contact.contactPerson}}</a></p>
							<p class="small text-muted">{{order.contact.address}}</p>
							<p class="small text-muted">{{order.contact.city}} {{order.contact.zipCode ? '('+order.contact.zipCode+')' : ''}}, {{order.contact.state}}</p>
						</div><!--
					--><ul class="order-products col-xs-14">
							<li ng-repeat="line in order.lines">
								<span>{{line.product.description}} {{line.variant.color}} {{line.variant.size}}</span>
								<span class="small" style="color: #999999;;">#{{line.variant_id}}</span>
							</li>
						</ul><!--
					--><div class="order-payment col-xs-10">
							<p class="order-payment-status">
								<span class="label" ng-class="{'label-danger': order.paymentStatus=='Pending' || order.paymentStatus=='Partial','label-success': order.paymentStatus=='Done' }">{{order.paymentStatus=='Done' ? 'Acreditado' : 'Contra Entrega'}}</span>
							</p>
							<p ng-show="order.paymentStatus!='Done'">${{order.amount-order.payed}}</p>							
						</div><!--
					--><span class="column order-warehouse col-xs-10">{{order.warehouse.name}}</span>              
					</div>
				</div>
			</li>        
		</ul>