<div class="list">
	<div class="row">
		<nav class="navbar navbar-default">
			<form class="navbar-form navbar-left">
				<a href="#/contacts/new"><button type="button" class="btn btn-primary add"><span class="glyphicon glyphicon-plus"></span> Nuevo Contacto</button></a>				
			</form>
			<form class="navbar-form navbar-left">
				<button type="button" ng-class="{'disabled': !anySelected() }" class="btn btn-default more dropdown-toggle" data-toggle="dropdown">Mas <span class="caret"></span></button>
				<ul class="dropdown-menu" style="left: inherit;">
					<li><a href="#">Eliminar</a></li>
				</ul>				
			</form>
			<form class="navbar-form navbar-right">
				<input class="form-control search" ng-model="textSearch" placeholder="Buscar"/>
			</form>        
		</nav>
	</div>
	<div class="row list-header vertical-align vertical-align-bottom">
		<div class="checkbox col-xs-2">
			<input type="checkbox" ng-model="selectAll">
		</div><!--
	--><div class="columns col-xs-46">
			<div class="row vertical-align vertical-align-bottom vertical-align-font-14">
				<span class="order-main col-xs-12">Contactos</span>
			</div>
		</div>
	</div>	
	<ul class="list-group">
		<li class="list-group-item row vertical-align" ng-repeat="contact in contacts">
			<div class="checkbox col-xs-2">
				<input type="checkbox" ng-model="contact.selected">
			</div><!--
		--><div class="col-xs-46">
				<div class="row">
						<p class="h5">
							<a href="#/contacts/{{contact.id}}" style="text-transform:uppercase;">{{contact.name}}</a>
							<span class="small">| {{contact.contactPerson}}</span>
							<span ng-show="contact.balance>0" class="label label-danger">Deudor</span>
						</p>
						<p>{{contact.phone}} | {{contact.address}}</p>
						<p>{{contact.city}} {{contact.zipCode ? '('+contact.zipCode+')' : ''}}, {{contact.state}}</p>
						<p>{{contact.type}}</p>
						<p><span class="h5">Saldo</span> ${{contact.balance}} <a href="#/contacts/{{contact.id}}#statement" class="small">Cuenta Corriente</a></p>
						<p><a href="#/contacts/{{contact.id}}#orders">Pedidos</a></p>
				</div>
			</div>
		</li>
  	</ul>
</div>