<div class="row">
	<div class="col-xs-38">
		<form class="form-horizontal label-left form-group-10-38" role="form">
			<p class="product-description">
				<span class="h3">{{contact.name}}</span><a href="#/contacts/{{contact.id}}/edit"> Editar</a>
			</p>			
			<div class="form-group">
				<label for="inputPassword" class="control-label">Persona de Contacto</label>
				<div class="">
					<p class="form-control-static">{{contact.contactPerson}}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Teléfono</label>
				<div class="">
					<p class="form-control-static">{{contact.phone}}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Dirección</label>
				<div class="">
					<p class="form-control-static">{{contact.address}}</p>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Tipo de Contacto</label>
				<div class="">
					<p class="form-control-static">{{contact.type}}</p>
				</div>
			</div>
		</form>
	</div>
</div>
<div id="orders" class="orders row">
	<div class="list col-xs-36">
		<div class="row">
			<div class="col-xs-48">
				<h3 style="cursor: pointer; display: inline-block;" ng-click="showOrders = !showOrders">Pedidos Pendientes <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': showOrders, 'glyphicon-chevron-right': !showOrders}"></span></h3>
			</div>
		</div>
		<div ng-include src="showOrders ? 'views/sales-list.html' : ''"></div>
	</div>
</div>
<div id="statement" class="statement row">
	<div class="list col-xs-30">
		<div class="row">
			<div class="col-xs-48">
				<h3 style="cursor: pointer; display: inline-block;" ng-click="showStatement = !showStatement">Cuenta Corriente <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': showStatement, 'glyphicon-chevron-right': !showStatement}"></span></h3>
			</div>
		</div>
		<div ng-show="showStatement">
			<div class="row list-header">
				<div class="">
					<span class="col-xs-8">Fecha</span>
					<span class="col-xs-10 text-center">Motivo</span>
					<span class="col-xs-10 text-center">Pedido</span>
					<span class="col-xs-10 text-center">Monto</span>
					<span class="col-xs-10 text-center">Saldo</span>
				</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item row" ng-repeat="transaction in contact.statement">
					<div class="">
						<span class="col-xs-8">{{transaction.date | date:'yyyy-MM-dd'}}</span>
						<span class="col-xs-10 text-center">{{transaction.reason}}</span>
						<a href="#/sales/{{transaction.order_id}}"><span class="col-xs-10 text-center">{{transaction.order_id}}</span></a>
						<span class="col-xs-10 text-center">{{transaction.amount}}</span>
						<span class="col-xs-10 text-center">{{transaction.balance}}</span>
					</div>
				</li>
		  	</ul>			
		</div>
	</div>
</div>
