<div class="row">
	<div class="col-xs-38">
		<form class="form-horizontal label-left form-group-10-38" role="form">
			<div class="form-group">
				<label class="control-label">Nombre</label>
				<div>
					<input class="form-control" ng-model="contact.name">					
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Persona de Contacto</label>
				<div>
					<input class="form-control" ng-model="contact.contactPerson">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Teléfono</label>
				<div>
					<input class="form-control" ng-model="contact.phone">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Dirección</label>
				<div>
					<textarea class="form-control" ng-model="contact.address"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword" class="control-label">Tipo de Contacto</label>
				<div>
					<select class="form-control" ng-model="contact.type">
						<option value="Cliente">Cliente</option>
						<option value="Proveedor">Proveedor</option>
						<option value=""></option>
					</select>
				</div>
			</div>
		</form>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-xs-18">
		<a href="#/contacts/{{contact.id}}"><button type="button" class="btn btn-primary">Guardar</button></a>
		<a href="#/contacts/{{contact.id}}"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
</div>