<div class="modal-header">
	<h3>Registrar Envios</h3>
</div>
<div class="modal-body">
	<form class="form-horizontal label-left form-group-24-24" role="form">
		<div class="form-group">
			<label class="control-label">Remito Nº</label>
			<div class="">
				<input type="text" class="form-control" ng-model="$parent.deliverynote">
			</div>
		</div>				
		<div class="form-group">
			<label class="control-label">Método de Entrega</label>
			<div class="">
				<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, data: ['OCA','Moto'] }" ng-model="$parent.method">
				</input>
			</div>
		</div>				
		<div class="form-group">
			<label class="control-label">Nº de guía</label>
			<div class="">
				<input type="text" class="form-control" ng-model="$parent.tracking">
			</div>
		</div>				
	</form>
	<div ui-handsontable="{height: getHeight, beforeRender: beforeRender}" minSpareRows="0" datarows="order in orders" width="636">
		<datacolumn value="order.id" title="'ID'" width="'75'" readOnly></datacolumn>
		<datacolumn value="order.contact.name" width="'100'" title="'Contacto'" readOnly></datacolumn>
		<datacolumn value="order.deliverynote" width="'150'" type="'text'" title="'Remito Nº'" ></datacolumn>  
		<datacolumn value="order.method" width="'150'" type="'text'" title="'Método de Entrega'" ></datacolumn>  
		<datacolumn value="order.tracking" width="'150'" type="'text'" title="'Nº de guía'"></datacolumn>  
	</div>					
</div>		
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>	
