<p class="order-number"><span class="h3">{{newOrder ? 'Nuevo Pedido' : 'Pedido '+editingOrder.id}} </span></p>
<div class="row" style="min-height: 254px;">
	<div class="col-xs-24">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label">Cliente</label>
				<input class="form-control" ng-model="editingOrder.contact" typeahead="contact as contact.name for contact in contacts | filter:$viewValue">
				<div class="contact" style="margin-top: 10px;min-height: 77px;">
					<p>{{editingOrder.contact.email}}</p>
					<p>{{editingOrder.contact.phone}}</p>
					<p>{{editingOrder.contact.address}}</p>					
				</div>
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Forma de Entrega</label>
				<select class="form-control" ng-model="editingOrder.shippingMethod" ng-options="option as option for option in ['A Confirmar', 'Envio', 'Retira']">
				</select>
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Forma de Pago</label>
				<select class="form-control" ng-model="editingOrder.paymentMethod" ng-options="option as option for option in ['A Confirmar', 'MercadoPago', 'Transferencia', 'Contra Entrega']">
				</select>
			</div>
		</form>		
	</div>
	<div class="col-xs-24">
		<form class="form-horizontal" role="form">
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Fecha</label>
				<input class="form-control" xng-date-picker="editingOrder.date">
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Depósito</label>
				<select class="form-control" ng-model="editingOrder.warehouse" ng-options="warehouse as warehouse.name for warehouse in warehouses"></select>
			</div>
			<div class="form-group">
				<label class="control-label">Notas</label>
				<textarea class="form-control" style="min-height: 130px;" ng-model="editingOrder.notes"></textarea>
			</div>
		</form>		
	</div>
</div>
<div class="list detail">
	<div class="row list-header">
		<div>
			<span class="order-detail-product col-xs-16">Artículo</span>
			<span class="order-detail-quantity col-xs-8 text-center">Cantidad</span>
			<span class="order-detail-price col-xs-8 text-center">Precio</span>
			<span class="order-detail-amount col-xs-8 text-center">Monto</span>
			<span class="order-detail-shipped col-xs-8 text-center">Entregado</span>
		</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item row" ng-repeat="line in editingOrder.lines">
			<div class="order-detail-product col-xs-16">
				<div class="row">
					<div class="product-image col-xs-8">
						<img ng-src="{{line.product.imageUrl}}"/>
					</div>
					<div class="product-description col-xs-40">
						<input class="form-control" ng-model="line.variant" typeahead="variant as variant.product.description+' '+variant.color+' '+variant.size for variant in variants | filter:$viewValue" placeholder="{{line.dirty ? 'Agregar Artículo': ''}}">
					</div>
				</div>
			</div>
			<div class="order-detail-quantity col-xs-8 text-center">
				<input type="number" class="form-control" ng-model="line.quantity" ng-show="!line.dirty">
			</div>
			<div class="order-detail-price col-xs-8 text-center">
				<input type="number" class="form-control" ng-model="line.price" ng-show="!line.dirty">
			</div>
			<div class="order-detail-amount col-xs-8 text-center" ng-show="line.price*line.quantity">
				${{line.price * line.quantity}}
			</div>
			<div class="order-detail-shipped col-xs-8 text-center">
				{{line.shipped}}
			</div>
		</li>
  	</ul>
</div>
<div ng-show="newOrder" class="row">
	<div class="order-number col-xs-12">
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="editingOrder.markAsShipped"> Entregado
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="editingOrder.markAsPayed"> Pagado
			</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-18">
		<a href=""><button ng-click="save()" type="button" class="btn btn-primary">Guardar</button></a>
		<a href="#/sales/{{editingOrder.id}}"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
</div>