<p class="order-number"><span class="h3">Pedido {{order.id}} </span><a href='#/sales/{{order.id}}/edit'> Editar</a></p>
<div class="row" style="min-height: 254px;">
	<div class="col-xs-24">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="control-label">Cliente</label>
				<div class="contact">
					<p class="form-control-static"><a href="#/contacts/{{order.contact.id}}">{{order.contact.name}}</a> | {{order.contact.contactPerson}}</p>
					<p>{{order.contact.email}}</p>
					<p>{{order.contact.phone}}</p>
					<p>{{order.contact.address}}</p>
				</div>
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Forma de Entrega</label>
				<div class="">
					<p class="form-control-static">{{order.shippingMethod}}</p>	
				</div>
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Forma de Pago</label>
				<div class="">
					<p class="form-control-static">{{order.paymentMethod}}</p>	
				</div>
			</div>
		</form>		
	</div>
	<div class="col-xs-24">
		<form class="form-horizontal" role="form">
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Fecha</label>
				<div class="">
					<p class="form-control-static"><span class="h5">{{order.date | date:'yyyy-MM-dd'}}</span></p>	
				</div>
			</div>
			<div class="form-group"> <!--form-group no necesita row-->
				<label class="control-label">Depósito</label>
				<div class="">
					<p class="form-control-static">{{order.warehouse.name}}</p>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label">Notas</label>
				<div class="">
					<p class="form-control-static">{{order.notes}}</p>	
				</div>
			</div>
		</form>		
	</div>		
</div>

<div class="list detail">
	<div class="row list-header">
		<div>
			<span class="order-detail-product col-xs-16">Artículo</span>
			<span class="order-detail-quantity col-xs-8 text-center">Cantidad</span>
			<span class="order-detail-price col-xs-8 text-center">Precio</span>
			<span class="order-detail-amount col-xs-8 text-center">Monto</span>
			<span class="order-detail-shipped col-xs-8 text-center">Entregado</span>
		</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item row" ng-repeat="line in order.lines">
			<div class="order-detail-product col-xs-16">
				<div class="row">
					<div class="product-image col-xs-8">
						<img ng-src="{{line.product.imageUrl}}"/>
					</div>
					<div class="product-description h5 col-xs-40">
						<p>{{line.product.description}} {{line.variant.color}} {{line.variant.size}}</p>
						<p class="small">#{{line.variant_id}}</p>
					</div>
				</div>
			</div>
			<div class="order-detail-quantity col-xs-8 text-center">
				{{line.quantity}}
			</div>
			<div class="order-detail-price col-xs-8 text-center">
				${{line.price}}
			</div>
			<div class="order-detail-amount col-xs-8 text-center">
				${{line.price * line.quantity}}
			</div>
			<div class="order-detail-shipped col-xs-8 text-center">
				{{getShippedQuantityFor(line.product)}}
			</div>
		</li>
  	</ul>
</div>
<div class="row">
	<div class="col-xs-32">
		<h3>Pagos</h3>
		<p>Total Cobrado: ${{totalPayed()}} / ${{totalAmount()}} <span class="label" ng-class="{'label-danger': paymentStatus()=='Pending', 'label-warning': paymentStatus()=='Partial','label-success': paymentStatus()=='Done' }">{{paymentStatus()}}</span></p>
		<button type="button" class="btn btn-sm btn-default add" ng-click="addPayment()"><span class="glyphicon glyphicon-plus"></span> Nuevo Pago</button>	
		<div class="list payments" ng-show="order.payments.length>0">
			<div class="row list-header">
				<span class="order-payment-date col-xs-12">Fecha</span>
				<span class="order-payment-amount col-xs-12 text-center">Monto</span>
				<span class="order-payment-method col-xs-12 text-center">Medio de Pago</span>
				<span class="col-xs-12"></span>
			</div>
			<ul class="list-group">
				<li class="row list-group-item" ng-repeat="payment in order.payments">
					<div ng-show="!payment.dirty">
						<div class="order-payment-date col-xs-12">
							{{payment.date | date:'yyyy-MM-dd'}}
						</div>
						<div class="order-payment-amount col-xs-12 text-center">
							${{payment.amount}}
						</div>
						<div class="order-payment-method col-xs-12 text-center">
							{{payment.method}}
						</div>
						<div class="col-xs-12">
							<span class="glyphicon glyphicon-pencil" style="margin-right: 16px; cursor: pointer;" ng-click="editPayment(payment)"></span><span class="glyphicon glyphicon-trash" style="cursor: pointer;" ng-click="removePayment(payment)"></span>
						</div>
					</div>
					<div ng-show="payment.dirty">
						<div class="order-payment-date col-xs-12">
							<input class="form-control" xng-date-picker="payment.date">
						</div>
						<div class="input-group order-payment-amount col-xs-12 text-center">
							<span class="input-group-addon">$</span>
							<input type="number" class="form-control" ng-model="payment.amount">
						</div>
						<div class="order-payment-method col-xs-12 text-center">
							<select class="form-control" ng-model="payment.method" ng-options="option as option for option in ['Efectivo', 'MercadoPago','Tarjeta','Transferencia','Cheque']"></select>
						</div>
						<div class="col-xs-12">
							<button type="button" class="btn btn-primary btn-sm" ng-click="payment.dirty=false">Guardar</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="cancelPayment(payment)">Cancelar</button>
						</div>
					</div>
				</li>
		  	</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-24">
		<h3>Entregas</h3>
		<p>Total Entregado: {{totalShipped()}} <small>uni</small> / {{order.ordered}} <small>uni</small> <span class="label" ng-class="{'label-danger': shippingStatus()=='Pending', 'label-warning': shippingStatus()=='Partial','label-success': shippingStatus()=='Done' }">{{shippingStatus()}}</span></p>		
		<button type="button" class="btn btn-sm btn-default add" ng-class="{disabled: order.shippedQuantity()>=order.totalQuantity()}" ng-click="addShipment()" ng-show="shippingStatus()!='Done'"><span class="glyphicon glyphicon-plus"></span> Nueva Entrega</button>	
		<div ng-repeat="shipment in order.shipments" class="shipment">
			<div ng-include="shipment.dirty ? 'views/templates/shipment-edit.html' : 'views/templates/shipment.html'"></div>
		</div>
	</div>
</div>