<div class="modal-header">
	<h3>Editar Listas de Precios</h3>
</div>
<div class="modal-body">
	<div ui-handsontable="{height: getHeight, beforeRender: beforeRender}" minSpareRows="0" datarows="product in products" width="661">
		<datacolumn value="product.id" title="'ID'" width="'100'" readOnly></datacolumn>
		<datacolumn value="product.description" width="'250'" title="'Descripción'" readOnly></datacolumn>
		<datacolumn value="product.price1" width="'100'" format="'$ 0,0.00'" type="'numeric'" title="'Precio 1'"></datacolumn>  
		<datacolumn value="product.price2" width="'100'" format="'$ 0,0.00'" type="'numeric'" title="'Precio 2'"></datacolumn>  
		<datacolumn value="product.price3" width="'100'" format="'$ 0,0.00'" type="'numeric'" title="'Precio 3'"></datacolumn>  
	</div>		
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>	
