<div class="product-edit">
	<div class="row">
		<div class="col-xs-20">
			<div class="product-title row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<div class="form-group">
							<label class="control-label">Descripción</label>
							<div class="">
								<input class="form-control" ng-model="product.description">
							</div>
						</div>					
						<div class="form-group">
							<label class="control-label">SKU #</label>
							<div class="">
								<input class="form-control" ng-model="product.id">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Marca</label>
							<div class="">
								<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, data: brands }" ng-model="product.brand">
								</input>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Categoría</label>
							<div class="">
								<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, data: categories }" ng-model="product.category">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<p class="h4">Precios</p>
						<div class="form-group">
							<label class="control-label">Lista 1</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="number" class="form-control" ng-model="product.price1">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Lista 2</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="number" class="form-control" ng-model="product.price2">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Lista 3</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="number" class="form-control" ng-model="product.price3">
							</div>
						</div>
					</form>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<p class="h4">Variantes</p>
						<div class="form-group">
							<label class="control-label">Colores</label>
							<div class="">
								<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, multiple: true, simple_tags: true, tags: product.colors }" ng-model="product.colors">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Talles</label>
							<div class="">
								<input class="form-control" ui-select2="{ allowClear: true, allowNotListed: true, multiple: true, simple_tags: true, tags: product.sizes }" ng-model="product.sizes">
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
		<div class="col-xs-28">
			<div class="row" ng-repeat="color in product.colors" style="margin-bottom: 15px;">
				<div class="col-xs-48">
					<p class="h4">Fotos Color {{color}}</p>
					<div class="product-images">
						<div class="img" ng-repeat="imageUrl in product.images[color] track by $index">
							<button type="button" class="close" aria-hidden="true" ng-click="product.images[color].splice($index, 1);">&times;</button>
							<img ng-src="{{imageUrl}}">
						</div>
						<div class="img empty">
							<span class="camera"></span>
						</div>
					</div>						
				</div>
			</div>
		</div>		
	</div>
	<div class="row">
		<div class="col-xs-18">
			<button ng-click="save()" type="button" class="btn btn-primary">Guardar</button>
			<button ng-click="cancel()" type="button" class="btn btn-default">Cancelar</button>
		</div>
	</div>	
</div>