<div class="product-view">
	<div class="row">
		<div class="col-xs-20">
			<p class="product-description" style="margin-bottom: 2px;">
				<span class="h3">{{product.description}}</span><a href="#/products/{{product.id}}/edit"> Editar</a>
			</p>			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-20">
			<div class="product-title row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<div class="form-group">
							<label class="control-label">SKU #</label>
							<div class="">
								<p class="form-control-static">{{product.id}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Marca</label>
							<div class="">
								<p class="form-control-static">{{product.brand}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Categoría</label>
							<div class="">
								<p class="form-control-static">{{product.category}}</p>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<p class="h4">Precios</p>
						<div class="form-group">
							<label class="control-label">Lista 1</label>
							<div class="">
								<p class="form-control-static">${{product.price1}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Lista 2</label>
							<div class="">
								<p class="form-control-static">${{product.price2}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Lista 3</label>
							<div class="">
								<p class="form-control-static">${{product.price3}}</p>
							</div>
						</div>
					</form>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-48">
					<form class="form-horizontal label-left form-group-12-36" role="form">
						<p class="h4">Variantes</p>
						<div class="form-group">
							<label class="control-label">Colores</label>
							<div class="">
								<p class="form-control-static">{{product.colors.toString()}}</p>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label">Talles</label>
							<div class="">
								<p class="form-control-static">{{product.sizes.toString()}}</p>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
		<div class="col-xs-28">
			<div class="row" ng-repeat="color in product.colors" style="margin-bottom: 15px;">
				<div class="col-xs-48" ng-show="product.images[color].length>0">
					<p class="h4">Fotos Color {{color}}</p>
					<div class="product-images">
						<img ng-repeat="imageUrl in product.images[color] track by $index" ng-src="{{imageUrl}}">
					</div>						
				</div>
			</div>
		</div>		
	</div>
	<div class="stocks row">
		<div class="list col-xs-48">
			<span class="h4">Stocks</span><a href="" ng-click="editStocks()"> Editar</a>
			<div class="row list-header" ng-style="{'width': stockTableWidth()+'px'}">
					<ul class="nav nav-tabs">
						<li ng-repeat="warehouse in warehouses" ng-class="{'active': selectedWarehouse===warehouse}" ng-click="$parent.selectedWarehouse=warehouse" style="cursor: pointer;"><a data-toggle="tab">{{warehouse.name}}</a></li>
					</ul>
					<div class="col-fixed-128">
						<p style="padding-top: 10px; margin: 0;"></p>
						<span class="col-fixed-128 text-center">Talle / Color</span>
					</div>
					<div class="col-fixed-128 text-center" ng-repeat="color in product.colors">
						<p style="padding-top: 10px; margin: 0;">{{color}}</p>
						<div class="text-center small">Disponible / Stock</span></div>
					</div>
			</div>
			<ul class="list-group">
				<li class="list-group-item row" ng-repeat="size in product.sizes" ng-style="{'width': stockTableWidth()+'px'}">
					<b class="col-fixed-128 text-center">{{size}}</b>
					<div class="col-fixed-128 text-center" ng-repeat="color in product.colors">
						<span style="font-size: 14px;">{{getVariantFor(color,size)[selectedWarehouse.id] || 0}}</span>
						<span class="small text-muted">/ {{getVariantFor(color,size)[selectedWarehouse.id] || 0}}</span>
					</div>
				</li>
		  	</ul>
		</div>
	</div>
	<div class="mercadolibre row">
		<div class="col-xs-48">
			<div class="row">
				<div class="col-xs-48">
					<h3 style="cursor: pointer; display: inline-block;" ng-click="product.showMeliIntegration = !product.showMeliIntegration">Integración con Mercadolibre <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': product.showMeliIntegration, 'glyphicon-chevron-right': !product.showMeliIntegration}"></span></h3>
				</div>
			</div>
			<div ng-show="product.showMeliIntegration">
				<div class="row">
					<div class="col-xs-48">
						<p>
							<span class="h4">Configuración </span><a ng-show="!editMeliIntegration" href="#/products/{{product.id}}?editMeliIntegration=true">Editar</a>
						</p>					
					</div>
				</div>
				<div class="row">
					<div class="col-xs-48">
						<form class="form-horizontal" role="form">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="product.avoidStockout" ng-disabled="!editMeliIntegration"> Evitar quiebres de stock	
								</label>
								<div>
									<p class="form-control-static small" ng-class="{'text-muted': !product.avoidStockout}">Pausar publicación cuando el disponible en Parsimotion llegue a <input class="form-control small-input" type="number" ng-model="product.pauseOn" ng-class="{'disabled': !product.avoidStockout}" ng-disabled="!editMeliIntegration || !product.avoidStockout"> {{product.pauseOn===1 ? 'unidad' : 'unidades'}}</p>
								</div>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="product.avoidEndings" ng-disabled="!editMeliIntegration"> Evitar que la publicación finalice antes de tiempo
								</label>
								<p class="form-control-static small" ng-class="{'text-muted': !product.avoidEndings}">Pausar publicación cuando el stock de la publicación llegue 1 unidad y notificarme por mail</p>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="product.republish" ng-disabled="!editMeliIntegration"> Republicación Automática
								</label>
								<p class="form-control-static small" ng-class="{'text-muted': !product.republish}">Republicar cuando la publicación finaliza por tiempo</p>
							</div>
						</form>
					</div>
				</div>
				<div class="row" ng-show="editMeliIntegration" style="margin-bottom: 50px;">
					<div class="col-xs-30">
						<a href="#/products/{{product.id}}"><button type="button" class="btn btn-sm btn-primary">Guardar</button></a>
						<a href="#/products/{{product.id}}"><button type="button" class="btn btn-sm btn-default">Cancelar</button></a>				
					</div>
				</div>			
				<div ng-include="editListing ? 'views/templates/listing-edit.html' : 'views/templates/listing.html'" style="min-height: 482px;"></div>				
			</div>
		</div>
	</div>	
</div>