<div class="list">
	<div class="row">
		<nav class="navbar navbar-default">
			<form class="navbar-form navbar-left">
				<a href="#/products/new"><button type="button" class="btn btn-primary add"><span class="glyphicon glyphicon-plus"></span> Nuevo Artículo</button></a>				
			</form>
			<form class="navbar-form navbar-left">
				<button type="button" ng-class="{'disabled': !anySelected() }" class="btn btn-default more dropdown-toggle" data-toggle="dropdown">Acciones Masivas <span class="caret"></span></button>
				<ul class="dropdown-menu" style="left: inherit;">
					<li><a href="" ng-click="editStocks()">Editar Stock</a></li>
					<li><a href="" ng-click="editPricelists()">Editar Listas de Precios</a></li>
					<li><a href="">Archivar</a></li>
				</ul>
			</form>
			<form class="navbar-form navbar-right">
				<input class="form-control search" ng-model="textSearch" placeholder="Buscar"/>
			</form>        
			<form class="navbar-form navbar-right filter">
				Artículos:
				<select ng-model="productStatusFilter">
					<option value="active">Activos</option>
					<option value="archived">Archivados</option>
				</select>
			</form>			
			<form class="navbar-form navbar-right filter">
				Depósito:
				<select ng-model="warehouse" ng-options="warehouse as warehouse.name for warehouse in warehouses"></select>
			</form>			
		</nav>
	</div>
	<div class="row list-header vertical-align vertical-align-bottom">
		<div class="checkbox col-xs-2">
			<input type="checkbox" ng-model="selectAll">
		</div><!--
	--><div class="col-xs-46">
			<div class="row vertical-align vertical-align-bottom vertical-align-font-14">
				<span class="product-detail col-xs-12">Artículo</span><!--
			--><div class="product-prices col-xs-18 text-center">
					<p>Precios</p>
					<p class="pricelists row" style="margin-bottom: 0;">
						<span class="col-xs-16">Lista 1</span>
						<span class="col-xs-16">Lista 2</span>
						<span class="col-xs-16">Lista 3</span>
					</p>
				</div><!--
			--><div class="product-stocks col-xs-18 text-center">
					<p class="row" style="margin-bottom: 0;">
						<span class="product-stock col-xs-16 text-center">Stock</span>
						<span class="product-reserved col-xs-16 text-center">Reservado</span>
						<span class="product-available col-xs-16 text-center">Disponible</span>		
					</p>
				</div>
			</div>
		</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item row vertical-align" ng-repeat="product in products">
			<div class="checkbox col-xs-2">
				<input type="checkbox" ng-model="product.selected">
			</div><!--
		--><div class="col-xs-46">
				<div class="row vertical-align">
					<div class="product-detail col-xs-12">
						<div class="product-image">
							<img ng-src="{{product.imageUrl}}"/>
						</div>
						<div class="product-description h5">
							<a href="#/products/{{product.id}}"><p>{{product.description}}</p></a>
							<p class="small">#{{product.id}}</p>
							<p class="small">{{product.brand}} | {{product.category}}</p>
						</div>
					</div><!--
				--><div class="product-prices col-xs-18 text-center">
						<div class="row">
							<span class="col-xs-16">${{product.price1}}</span>
							<span class="col-xs-16">${{product.price2}}</span>
							<span class="col-xs-16">${{product.price3}}</span>								
						</div>
					</div><!--
				--><span class="product-stock col-xs-6 text-center">
						{{product.getStock()}}
					</span><!--
				--><span class="product-reserved col-xs-6 text-center">{{product.reserved}}</span><!--
				--><span class="product-available col-xs-6 text-center">{{product.getStock() - product.reserved}}</span>
				</div>
			</div>
		</li>
  	</ul>
</div>