<div class="list">
	<div class="row">
		<nav class="navbar navbar-default">
			<form class="navbar-form navbar-left">
				<a ng-href="{{'#sales/new'+($parent.contact ? '?contactId='+$parent.contact.id : '')}}"><button type="button" class="btn btn-primary add"><span class="glyphicon glyphicon-plus"></span> Nuevo Pedido</button></a>          
			</form>
			<form class="navbar-form navbar-right">
				<input class="form-control search" ng-model="textSearch" placeholder="Buscar"/>
			</form>        
			<form class="navbar-form navbar-right filter">
				Depósito:
				<select ng-model="warehouseFilter" ng-options="warehouse as warehouse.name for warehouse in warehouses">
				</select>
			</form>
		</nav>
	</div>
	<div class="row" ng-show="textSearch==''">
		<div class="col-xs-48">
			<h3 style="cursor: pointer; display: inline-block;" ng-click="toBeConfirmedVisible = !toBeConfirmedVisible">A Confirmar <span class="badge" style="vertical-align: middle;">{{toBeConfirmed.length}}</span> <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': toBeConfirmedVisible, 'glyphicon-chevron-right': !toBeConfirmedVisible}"></span></h3>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-47" ng-show="toBeConfirmedVisible">
					<div orders="toBeConfirmed" template-url="'views/templates/tobeconfirmed.html'"></div>
				</div>							
			</div>
		</div>
	</div>
	<div class="row" ng-show="textSearch==''">
		<div class="col-xs-48">
		<h3 style="cursor: pointer; display: inline-block;" ng-click="toBeShippedVisible = !toBeShippedVisible">Por Entregar <span class="badge" style="vertical-align: middle;">{{toBeShipped.length}}</span> <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': toBeShippedVisible, 'glyphicon-chevron-right': !toBeShippedVisible}"></span></h3>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-47" ng-show="toBeShippedVisible">
					<div orders="toBeShipped" template-url="'views/templates/tobeshipped.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="textSearch==''">
		<div class="col-xs-48">
		<h3 style="cursor: pointer; display: inline-block;" ng-click="waitingPaymentVisible = !waitingPaymentVisible">Por Cobrar <span class="badge" style="vertical-align: middle;">{{waitingPayment.length}}</span> <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': waitingPaymentVisible, 'glyphicon-chevron-right': !waitingPaymentVisible}"></span></h3>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-47" ng-show="waitingPaymentVisible">
					<div orders="waitingPayment" template-url="'views/templates/waitingpayment.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-show="textSearch==''">
		<div class="col-xs-48">
		<h3 style="cursor: pointer; display: inline-block;" ng-click="toBePickedUpVisible = !toBePickedUpVisible">Retira por sucursal <span class="badge" style="vertical-align: middle;">{{toBePickedUp.length}}</span> <span class="glyphicon h4" ng-class="{'glyphicon-chevron-down': toBePickedUpVisible, 'glyphicon-chevron-right': !toBePickedUpVisible}"></span></h3>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-47" ng-show="toBePickedUpVisible">
					<div orders="toBePickedUp" template-url="'views/templates/tobepickedup.html'"></div>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-offset-1 col-xs-47" ng-show="textSearch.length>0">
			<div orders="filteredOrders" template-url="'views/sales-list.html'"></div>
		</div>
	</div>
</div>
