	<div class="row list-header vertical-align vertical-align-bottom">
		<div class="checkbox col-xs-2">
			<input type="checkbox" ng-model="$parent.selectAll">
		</div><!--
	--><div class="columns col-xs-46">
			<div class="row vertical-align vertical-align-bottom vertical-align-font-14">
				<span class="order-main col-xs-12">Pedido</span><!--
			--><span class="order-products col-xs-12">Artículos</span><!--
			--><span class="order-payment col-xs-8">Pago</span><!--
			--><span class="order-shipment-status col-xs-8">Entrega</span><!--
			--><span class="order-warehouse col-xs-8">Depósito</span>           
			</div>
		</div>
	</div>
	<ul class="list-group">
			<li class="list-group-item row vertical-align" ng-repeat="order in orders">
				<div class="checkbox col-xs-2">
					<input type="checkbox" ng-model="order.selected">
				</div><!--
			--><div class="columns col-xs-46">
					<div class="row vertical-align">
						<div class="order-main col-xs-12">
							<a href="#/sales/{{order.id}}"><h4 class="order-id">Nº {{order.id}}</h4></a>
							<p><span class="order-date small">{{order.date | date:'yyyy-MM-dd'}}</span></p>
							<p class="order-contact-name"><img class="order-channel" ng-src="{{order.channel.imageUrl}}" /><a class="small text-muted" href="#/contacts/{{order.contact.id}}">{{order.contact.name}}</a></p>
						</div><!--
					--><ul class="order-products col-xs-12">
							<li ng-repeat="line in order.lines">
								<span>{{line.product.description}} {{line.variant.color}} {{line.variant.size}}</span>
								<span class="small" style="color: #999999;;">#{{line.variant_id}}</span>
							</li>
						</ul><!--
					--><div class="order-payment col-xs-8">
							<p class="order-payment-status">
								<span class="label" ng-class="{'label-danger': order.paymentStatus=='Pending', 'label-warning': order.paymentStatus=='Partial','label-success': order.paymentStatus=='Done' }">{{order.paymentStatus}}</span>
							</p>
							<p>
								<span class="order-payed-amount">${{order.payed}}</span>
								<span class="order-amount"> / ${{order.amount}}</span>
							</p>
						</div><!--
					--><div class="column order-shipment-status col-xs-8">
							<p class="order-payment-status">
								<span class="label" ng-class="{'label-danger': order.shippingStatus=='Pending', 'label-warning': order.shippingStatus=='Partial','label-success': order.shippingStatus=='Done' }">{{order.shippingStatus}}</span>
							</p>
							<p>
								<span class="order-payed-amount">{{order.shipped}}</span>
								<span class="order-amount"> / {{order.ordered}}</span>
							</p>                
						</div><!--
					--><span class="column order-warehouse col-xs-8">{{order.warehouse.name}}</span>              
					</div>
				</div>
			</li>        
		</ul>