<div class="list">
	<div class="row">
		<nav class="navbar navbar-default">
			<form class="navbar-form navbar-left">
				<a ng-href="{{'#sales/new'+($parent.contact ? '?contactId='+$parent.contact.id : '')}}"><button type="button" class="btn btn-primary add"><span class="glyphicon glyphicon-plus"></span> Nuevo Pedido</button></a>
			</form>
			<form class="navbar-form navbar-left" ng-show="textSearch=='' &amp;&amp; activeTab=='toBeShipped'">
				<button type="button" class="btn btn-default" ng-class="{disabled: !anySelected()}" ng-click="logistics()"><span class="glyphicon shipment-icon"></span> Registrar Envios</button>
			</form>			
			<form class="navbar-form navbar-left" ng-show="activeTab!='archived'">
				<button type="button" class="btn btn-default" ng-class="{disabled: !deleteButtonEnabled()}" ng-click="deleteSelected()"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
			</form>			
			<form class="navbar-form navbar-right">
				<input class="form-control search" ng-model="textSearch" placeholder="Buscar"/>
			</form>        
			<form class="navbar-form navbar-right filter">
				Depósito:
				<select ng-model="warehouseFilter" ng-options="warehouse as warehouse.name for warehouse in warehouses">
				</select>
			</form>
		</nav>
	</div>
	<div class="row" ng-show="textSearch==''">
		<ul class="nav nav-tabs">
			<li ng-class="{active: activeTab=='toBeConfirmed'}"><a href="#/sales?tab=toBeConfirmed">Por Confirmar <span class="badge" style="vertical-align: middle;">{{toBeConfirmed.length}}</span></a></li>
			<li ng-class="{active: activeTab=='waitingPayment'}"><a href="#/sales?tab=waitingPayment">Por Cobrar <span class="badge" style="vertical-align: middle;">{{waitingPayment.length}}</span></a></li>
			<li ng-class="{active: activeTab=='toBeShipped'}"><a href="#/sales?tab=toBeShipped">Por Entregar <span class="badge" style="vertical-align: middle;">{{toBeShipped.length}}</span></a></li>
			<li ng-class="{active: activeTab=='toBePickedUp'}"><a href="#/sales?tab=toBePickedUp">Retira por sucursal <span class="badge" style="vertical-align: middle;">{{toBePickedUp.length}}</span></a></li>
			<li ng-class="{active: activeTab=='archived'}"><a href="#/sales?tab=archived">Archivados</a></li>
		</ul>
	</div>
	<div class="row" ng-show="textSearch=='' &amp;&amp; activeTab=='toBeConfirmed'">
		<div class="col-xs-48">
			<br/>
			<div orders="toBeConfirmed" template-url="'views/templates/tobeconfirmed.html'"></div>
		</div>
	</div>
	<div class="row" ng-show="textSearch=='' &amp;&amp; activeTab=='toBeShipped'">
		<div class="col-xs-48">
			<br/>
			<div orders="toBeShipped" template-url="'views/templates/tobeshipped.html'"></div>
		</div>
	</div>
	<div class="row" ng-show="textSearch=='' &amp;&amp; activeTab=='waitingPayment'">
		<div class="col-xs-48">
			<br/>
			<div orders="waitingPayment" template-url="'views/templates/waitingpayment.html'"></div>
		</div>
	</div>
	<div class="row" ng-show="textSearch=='' &amp;&amp; activeTab=='toBePickedUp'">
		<div class="col-xs-48">
			<br/>
			<div orders="toBePickedUp" template-url="'views/templates/tobepickedup.html'"></div>
		</div>
	</div>
	<div class="row" ng-show="textSearch=='' &amp;&amp; activeTab=='archived'">
		<div class="col-xs-48">
			<br/>
			<div orders="archived"></div>
		</div>
	</div>
	<div class="row"  ng-show="textSearch.length>0">
		<div class="col-xs-offset-1 col-xs-47">
			<div orders="filteredOrders" template-url="'views/sales-list.html'"></div>
		</div>
	</div>
</div>
