<div class="modal-header">
	<h3>Editar Stocks</h3>
</div>
<div class="modal-body">
	<div class="form-group">
		<label class="control-label" style="display: inline; margin-right: 20px;">Depósito</label>
		<select style="width: 240px; display: inline;" class="form-control" ng-model="$parent.warehouse" ng-options="warehouse as warehouse.name for warehouse in warehouses"></select>			
	</div>
	<div ui-handsontable="{height: getHeight, beforeRender: beforeRender}" minSpareRows="0" datarows="product in products | orderBy:'id'" width="561">
		<datacolumn value="product.id" title="'ID'" width="'100'" readOnly></datacolumn>
		<datacolumn value="product.description" width="'250'" title="'Descripción'" readOnly></datacolumn>
		<datacolumn value="product.stock" width="'100'" type="'numeric'" title="'Stock Anterior'" readOnly></datacolumn>  
		<datacolumn value="product.newStock" width="'100'" type="'numeric'" title="'Stock Nuevo'"></datacolumn>  
	</div>					
</div>		
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>	
